<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="utf-8">
    <title>Análise de Cardápio</title>
    <style>
        body {
            background-color: #1D232A;
            color: #ECF9FF;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
        }

        h2 {
            font-weight: 700 !important;
            font-size: 24px !important;
            line-height: 32px !important;
        }

        ul {
            margin-left: 16px !important;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    {{{body}}}

</body>
</html>