<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="utf-8">
    <title>Análise de Cardápio</title>
    <style>
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

    {{{body}}}

</body>
</html>